@charset "UTF-8";
/* CSS Document */

body{
    font-family: sans-serif;
}

.header 
{
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
  text-align: center;
}

.col-sm-4 h4
{
  color: #9933cc;  
}

.col-sm-8 h3
{
  color: #9933cc;  
}
