@charset "UTF-8";
/* CSS Document */

body{
    font-family: sans-serif;
}

#header{
    color: blue;
    background-color: lightblue;
    text-align: center;
    font-size: 10px;
    height: 50px;
    padding: 10px;
}

h3,h4 {
  color: blue;
  text-align: center;
  line-height: 0.8;
}

.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}